.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  min-height: 59vh;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.empty-cart {
  min-height: calc(100vh - 130px - 136px - 2rem);
  text-align: center;
  padding: 1rem;
}

@media only screen and (max-width: 750px) {
  .cart-container {
    flex-direction: column;
  }
}
