.cart-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.empty-cart {
  height: 100vh;
}

@media only screen and (max-width: 750px) {
  .cart-container {
    flex-direction: column;
  }
}
