.nav-container {
  position: sticky;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.icons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.icon-link {
  text-decoration: none;
  position: relative;
}

.icon-badge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #ffa542;
  color: #ffffff;
  font-size: 15px;
}
